@import "tailwindcss";

@theme {
  --color-space-dark: #0a0b15;
  --color-space-light: #1b1d2e;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    background: radial-gradient(circle at center, #162038 0%, #050811 100%);
    color: white;
    font-family: var(--font-sans);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}
